{% extends 'base.html' %}
{% load static %}
<html>
<head>
</head>
{% block content %}
<body>

 <h1>Values</h1>
{% if value_list %}
  <ul>
  {% for value in value_list %}
    <li>{{ value }}</li>
  {% endfor %}
  </ul>
{% else %}
  <p>Please input some agile values.</p>
{% endif %}

<a href="{% url 'agile:value_view' %}" class="btn btn-primary btn-sm" role="button" >Edit Values</a>

<h1>Characteristic</h1>
{% if characteristic_list %}
  <ul>
  {% for characteristic in characteristic_list %}
    <li>{{ characteristic }}</li>
  {% endfor %}
  </ul>
{% else %}
  <p>Please input some agile characteristics.</p>
{% endif %}

<a href="{% url 'agile:characteristic_view' %}" class="btn btn-primary btn-sm" role="button" >Edit Characteristics</a>

</body>
{% endblock %}
</html>
